body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
header{
    position: sticky;
    top: 0px;
}
li{
    list-style: none;
    padding: 5px;
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(12, 147, 147);
}
ul li a{
    text-decoration: none;
    color: rgb(12, 147, 147);
}
li:hover{
    background-color: #defcfb;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}
ul{
    background-color: rgb(170, 244, 219);
    display: flex;
    margin: 10px 2px 10px 2px;
    border: 2px solid rgb(78, 218, 162);
    box-sizing: border-box;
    gap: 30px;
    justify-content: center;
}
.box{
    border: 2px solid rgba(0, 0, 0, 0.128);
    padding: 5px;
    margin: 10px;
    height: 300px;
    width: auto;
    background-color: rgb(204, 233, 233);
    display: flex;
    box-sizing: border-box;
    gap: 30px;
}
.div{
    border: 2px solid rgba(130, 155, 238, 0.234);
    padding: 5px;
    margin: 10px;
    width: 50%;
    height: auto;
    background-color: rgba(130, 236, 236, 0.386);
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
}
.box4{
    border: 2px solid rgba(130, 155, 238, 0.234);
    padding: 5px;
    margin: auto;
    width: 70%;
    height: auto;
    background-color: rgba(76, 131, 220, 0.386);
    border-radius: 40px;
    box-shadow: 10px 5px 15px rgba(85, 162, 218, 0.308);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    text-align: justify;
    font-size: medium;
    font-weight: 400;
    font-family: cursive;
}
.logo{
    position: fixed;
    right: 0px;
    bottom: 1px;
}
img{
    border-radius: 100%;
    object-fit: cover;
    object-position: 5% 80%;
}
.footer{
    background-color: rgb(216, 234, 237);
    margin: auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 5px solid rgb(146, 169, 233);
    height: auto;
}
.box1:hover,.box2:hover,.box3:hover{
    background-color: rgb(181, 234, 182);
}
@media only screen and (max-width: 1000px) and (min-width: 300px) {
    body {
      background-color: lightblue;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .box4{
        margin: 10px;
        width: auto;
    }
    ul{
        padding-left: 2px;
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }
    ul > li{
        padding: 2px;
        margin: 5px;
    }
    .logo{
       height: 40px; 
       padding-bottom: 10px;
       box-shadow: inset;
    }
}
@media only screen and (max-width: 1500px) and (min-width: 1000px){
    .box4{
        margin: auto;
        width: 90%;
    }
}
  
    
